
/* :root.client-dark-mode { */
:root {
	color-scheme: dark !important;
	--bg: #111 !important;
	--gray-1: #222 !important;
	--gray-2: #333 !important;
	--link: #9bf !important;

	& img:not(:is([class^="mw-logo-"], .mw-indicators img)) {
		background-color: white !important;
	}

	&, & :is(img, video, svg) {
		filter: none !important;
	}

	& :is(.vector-icon, .cdx-text-input__icon, .mw-logo-wordmark, .mw-logo-tagline, .mw-indicators img, .mw-ui-button, .uls-search-label, .popups-icon), & .vector-dropdown-label::after {
		filter: invert(1) hue-rotate(180deg) !important;
	}

	& :is(.cdx-button, .uls-language-block > ul > li, .mwe-popups-container, .cdx-search-input) {
		background-color: transparent !important;
	}

	& :is(body, .vector-header-container, .mw-page-container, .vector-dropdown-content, .mw-message-box) {
		background-color: var(--bg) !important;
	}

	& :is(.vector-main-menu, .vector-toc, table, .mw-notification, .mwe-popups, .infobox, .toc, .thumbinner, figure, figcaption, .wikitable, .cbnnr-main, .cx-callout, .overlay, #simpleSearch, #searchInput, .cnotice, .uls-menu, .uls-search, .uls-lcd, #uls-settings-block, .uls-filtersuggestion, .side-box, .navbox, .catlinks) {
		background-color: var(--gray-1) !important;
	}

	& :is(.hidden-title, .navbox-title) {
		background-color: var(--gray-2) !important;
	}

	& :is(body, h1, h2, h3, h4, h5, h6, .cdx-button:enabled, .cdx-button, .infobox, .vector-pinnable-header-label, .vector-menu-heading, .mw-message-box, #contentSub, #contentSub2) {
		color: inherit !important;
	}

	& :is(a, .toctogglelabel, .mw-collapsible-text, .vector-pinnable-header-toggle-button) {
		color: var(--link) !important;
	}

	& :is(.vector-feature-zebra-design-disabled #vector-page-tools-pinned-container .vector-page-tools, .vector-feature-zebra-design-disabled #vector-toc-pinned-container .vector-toc, .mwe-popups-extract)::after {
		background-image: none !important;
	}

	& .mwe-popups-extract {
		text-overflow: ellipsis !important;
		overflow: hidden !important;
		display: -webkit-box !important;
		-webkit-line-clamp: 10 !important;
		-webkit-box-orient: vertical !important;
		height: fit-content !important;
		min-height: auto !important;
		max-height: none !important;
	}
}
